body {
  font-family: 'Times New Roman', arial, sans-serif;
  font-weight: 300;
  background-image: url(City_Landscape_Background.jpg);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
	color: red;
	/*this is a comment*/
}
h4{
	color: w;
}
#summary {
	color: orange;
}
.unicorns {
	color: purple;
}
img {
	/*width: 50%;*/
	width: 400px;
}